#clearButton{

}

#header{
	height: 30%;
	background-color: gray;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 0px;
	font-size: 20px
}

#searchButton{
	margin-top: 10px;

}

#searchButton:hover{
	background-color: #80e5ff;
}

#clearButton:hover{
	background-color: #80e5ff;
}