

#header{
	height: 30%;
	background-color: white;
	color: black;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 0px;
	font-size: 20px
}

#searchBar{
	resize: none;
	background-size: 20px;
}

th{
	padding: 5px;
	margin: 5px;
}

td{
	padding: 5px;
}